<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Kodluyoruz X Solmaz Final Projesi</title>
    <style>
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    </style>
</head>
<body>
<div th:if="${param.error}">
    <p th:text="${session.error}" th:unless="${session == null}">[...]</p>
</div>

<img th:src="@{/assets/img/solmaz-logo.jpg}" style="width: 25%">
<img th:src="@{/assets/img/kodluyoruz-logo.png}" style="width: 25%">
<!--<img src="../static/images/kodluyoruz-logo.png" style="width: 50%">-->
<div style="text-align: center" th:if="${param.logout}">You have been logged out.</div>
<form th:action="@{/login}" method="post">

    <table border="1" align="center">
        <tr>
            <td>
                <label> User Name : <input type="text" name="username"/> </label>
            </td>
            <td><label> Password: <input type="password" name="password"/> </label></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Sign In"/>
            </td>
            <td>
                <a href="register"> <input class="registerbtn" type="button" value="Register"/> </a>
            </td>
        </tr>
    </table>
</form>


</body>
</html>