<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="html">
<head>
    <meta charset="UTF-8">
    <title>Booking Application</title>
    <script>
        function checkPassword(form) {
            const password = form.password.value;
            const confirmPassword = form.confirm_pass.value;

            if (password == '')
                alert("Please enter Password");

            else if (confirmPassword == '')
                alert("Please enter confirm password");

            else if (password != confirmPassword) {
                alert("\nPassword did not match: Please try again...")
                return false;
            } else {
                alert("Password Match: Welcome to Booking System!")
                return true;
            }
        }
    </script>
</head>
<body>
<form action="/register" method="post" onsubmit="return checkPassword(this)">
    <div class="container">

        <table border="1" align="center">
            <tr>
                <td>Register<br>
                    <p>Please fill in this form to create an account.</p></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" placeholder="Name" name="name" id="name" required></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input type="text" placeholder="Surname" name="surname" id="surname" required></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" placeholder="Email" name="username" id="username" required></td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input type="text" placeholder="Phone Number" name="phone" id="phone" required></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" placeholder="Password" name="password" id="password" required></td>
            </tr>
            <tr>
                <td>Confirm:</td>
                <td><input type="password" placeholder="Confirm Password" name="confirm_pass" id="confirm_pass"
                           required></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><select name="gender" id="gender-select">
                    <option value="">--Select gender--</option>
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                </select></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td><select name="passenger-type" id="passenger-type-select">
                    <option value="">--(INDIVIDUAL/CORPORATE)--</option>
                    <option value="INDIVIDUAL">INDIVIDUAL</option>
                    <option value="CORPORATE">CORPORATE</option>
                </select></td>
            </tr>
            <tr>
                <td>Register</td>
                <td>
                    <button type="submit" class="registerbtn">Register</button>
                    <a href="login"> <input style="margin-left: 15px" class="registerbtn button button2" type="button" value="Login" /> </a>
                </td>
            </tr>

        </table>
    </div>
</form>
</body>
</html>